* {
  font-family: sans-serif;
}

.searchBox {
  text-align: center;
  margin: 20px;
}

.labels {
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  text-transform: uppercase;
}
.containers, .labels {
  display: flex;
  justify-content: space-between;

}

.containers div, .labels div {
  background: lightgrey;
  border: 1px solid grey;
  margin:2px 10px 2px 10px;
  padding: 5px 8px 5px 10px;
}

.container-jobs {
  width: 200px
}

.container-meetup {
  width: 500px
}

.container-jobs li {
  list-style: none
}

.container-courses {
  width: 400px;
}

img {
  width: 100%;
}
