* {
  font-family: sans-serif;
  box-sizing: border-box;
}

* a {
  text-decoration: none;
  color: black;
}
* a:hover {
  color: darkslategray;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}
}
.mainwrapper {
  margin: auto;
}
.about {
  height: 40px;
  background-color: #1B0C1E;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding-right: 30px;
}

.about div {

}

.jumbotron {
  height: 250px;
  background-image: url(img/music.jpg);
  background-position: 0% 55%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jumbotron-text {
  font-size: 2em;
  color: black;
  text-align: center;
  font-weight: bolder;
  padding-top: 100px;
  text-transform: uppercase;
}

.jumbotron input {
  width: 400px;
  text-align: center;
  margin: 20px;
  height: 30px;
  font-size: 1em;
  border: 1px solid
}
.jumbotron button {
  display: block;
  text-align: center;
  width: 100px;
  font-weight: bolder;
  text-transform: uppercase;
  height: 20px;
  border: 2px solid #4E3D4C;
}

/*.searchBox {
  text-align: center;
  margin: 20px;
}*/

.wrapper {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.wrapper div {
  width: 100%;
  word-wrap: break-word;
}

#jobs {
  width: 20%;
  margin:2px 10px 2px 0;
}

#meetups {
  width: 40%;
  margin:2px 10px 2px 10px;

}

#courses {
  width: 40%;
  margin:2px 0 2px 10px;

}

.label {
  ont-weight: bold;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #1E120C;
  border: 1px solid lightgrey;
  color: white;
}

.explanation {
  font-size: 0.7em;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid lightgrey;
  height: 40px;
}

#container-jobs {
  background-color: lightgrey;
}
#container-meetup {
  background-color: lightgrey;
}

#container-courses {
  background-color: lightgrey;
}

.container {
  width: 100%;
  background: lightgrey;
  border: 1px solid grey;
  padding: 5px 8px 5px 10px;
}


#container-jobs ul{

  padding: 0;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
}

#geosearch {
  text-align: center;
}
#geosearch button, #geosearch input, #geosearch p {
  display: inline;
  margin: 0 10px 0 10px;
}

.hidden {
  display: none;
}
#about {
  position: absolute;
  background-color: #0D2C3F;

  opacity: 0.7;
  color: white;
  top: 40px;
  right: 0%;

/*#000824
#001C45

#00FFFB*/
  width: 30%;
  height: 300px;
  text-align: center;
}
